[Desktop Entry]
Version=1.0
Name=Bitcoin Core
Comment=Connect to the Glitch P2P Network
Exec=glitch-qt %u
Terminal=false
Type=Application
Icon=glitch128
MimeType=x-scheme-handler/glitch;
Categories=Office;Finance;
StartupWMClass=Glitch-qt
Name[en_US]=glitch-qt
